<div class="results-wrapper">

    <header class="section search-refine">
      <h2>refine search</h2>
      <div class="refinements">
        <div class="col span_1_of_3 info-text">
          <input type="text" id="borrowing-power" placeholder="Purchase amount" value="">
        </div>

        <div class="col span_2_of_3 info-text">
          <select id="locality">
            <option>Melbourne</option>
            <option>Sydney</option>
            <option>Adelaide</option>
            <option>Camberra</option>
            <option>Perth</option>
          </select>
          <button id="refine-btn">Find suburbs</button>
        </div>

    </div>
    </header>



      <div class="section results-detail">
        <main class="col span_1_of_3 results">

          <% @results.each do |suburb| %>
          <p><%= suburb[:suburbName] %></p>
          <p><%= suburb[:housePrice] %></p>
          <p><%= suburb[:geocode] %></p>
          <% end %>


      </main>
          <div class="map col span_2_of_3 map">{{googleMap}}</div>
        </div>


</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks"></script>
<script>
// load map
var map = new google.maps.Map($('.map')[0], {
  zoom: 11,
  center: { lat: -37.813155, lng: 144.964078 }
});


var marker = new google.maps.Marker({
      position: { lat: -37.8219826, lng: 144.984614 },
      map: map,
      title: 'test'
    });

    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

</script>
