<div class="results-wrapper">

    <header class="section search-refine">
      <h3 class="hero">BurbFindr <i class="fa fa-home" aria-hidden="true"></i></h3>
      <h2>Refine search</h2>


      <div class="section">
        <div class="col span_1_of_3">
          <input type="text" id="borrowing-power" placeholder="Purchase amount" value="">
        </div>

        <div class="col span_2_of_3">
          <select id="locality" name="state">
            <option>VIC</option>
            <option>NSW</option>
            <option>NT</option>
            <option>QLD</option>
            <option>SA</option>
            <option>ACT</option>
            <option>WA</option>
          </select>
        </div>

    </div>
    </header>

      <div class="section results-detail">

        <main id="result" class="col span_1_of_3 results">
          <script id="result-template" type="text/x-handlebars-template">
            <p>Suburb name: <span>{{ suburbName }}</span></p>
            <p>Median house price: <span>{{ medianHouse }}</span></p>
            <p>Median unit price: <span>{{ medianUnit }}</span></p>
          </script>
        </main>

        <div class="map col span_2_of_3" id="map"></div>

      </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks"></script>
<!-- &callback=initMap -->
