<div class="results-wrapper">

    <header class="section search-refine">
      <h3 class="hero">BurbFindr <i class="fa fa-home" aria-hidden="true"></i></h3>
      <h2>Refine search</h2>


      <div class="section">
        <div class="col span_1_of_3">
          <input type="text" id="borrowing-power" placeholder="Purchase amount" value="">
        </div>

        <div class="col span_2_of_3">
          <select id="locality" name="state">
            <option>VIC</option>
            <option>NSW</option>
            <option>NT</option>
            <option>QLD</option>
            <option>SA</option>
            <option>ACT</option>
            <option>WA</option>
          </select>
        </div>

    </div>
    </header>

      <div class="section results-detail">
        <main class="col span_1_of_3 results">

          <% @results.each do |suburb| %>
          <p><%= suburb[:suburbName] %></p>
          <p><%= suburb[:housePrice] %></p>
          <p><%= suburb[:lat] %></p>
          <p><%= suburb[:long] %></p>
          <% end %>


      </main>
          <div class="map col span_2_of_3" id="map"></div>
        </div>


</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks&callback=initMap"></script>
