<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">VIC</a></li>
  <li><a href="#!">NSW</a></li>
  <li><a href="#!">NT</a></li>
  <li><a href="#!">QLD</a></li>
  <li><a href="#!">SA</a></li>
  <li><a href="#!">WA</a></li>
  <li><a href="#!">ACT</a></li>
</ul>

<!-- Nav Bar -->
<nav>
  <div class="nav-wrapper orange lighten-4">
    <a href="/" class="brand-logo left grey-text darken-2">BurbFindr <i class="fa fa-home" aria-hidden="true"></i></a>
    <ul class="right">
      <li class="grey-text darken-2">Refine</li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button grey-text darken-2" href="#!" data-activates="dropdown1">State<i class="material-icons right">arrow_drop_down</i></a></li>
      <form>
        <!-- <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div> -->
      </form>
      </ul>
  </div>
</nav>

<div class="results-detail">
  <!-- List Results -->
    <div class="row">
      <div class="col s12 m4 l3">
        <main id="result" class="">

          <script id="result-template" type="text/x-handlebars-template">
            <ul class="collection">
              <li class="collection-item avatar">
                <i class="material-icons circle grey loyalty">location_on</i>
                  <span class="title">{{ suburbName }}</span>
                    <p>Median house price: $<span>{{ medianHouse }}</span><br>
                      Median unit price: $<span>{{ medianUnit }}</span>
                    </p>
                </li>
              </ul>
          </script>

        </main>
    </div>

      <!-- Map view -->
      <div class="pin-map col s12 m8 l9">
        <div id="map">
        </div>
      </div>
    </div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks"></script>
