/*Set height to viewport*/

html, body {
  height: 100%;
}

/*Homepage overrides*/

.bg-img {
  background:
  linear-gradient(
	  rgba(233, 233, 230, 0.63),
	  rgba(233, 233, 230, 0.63)
    ),
  url(apartment.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.centre-btn {
  text-align: center;
  margin-top: 3em;
}

/*Results page overrides*/

.brand-logo {
  margin-left: 1em;
}

.dropdown-button {
  margin-right: 1em;
  margin-left: 1em;
}

nav {
  box-shadow: none;
}

.results-detail, .row {
  height:100vh;
}

.pin-map {
  position: absolute;
  right: 0 !important;
  padding-right: 0 !important;
}

#map {
  min-height: 100vh;
  overflow: hidden;
}

.scroll {
  height: 100vh;
  overflow: auto;

}
