/*Set height to viewport*/

html, body {
  height: 100%;
}

/*Results page overrides*/

.brand-logo {
  margin-left: 1em;
}

.dropdown-button {
  margin-right: 1em;
  margin-left: 1em;
}

nav {
  box-shadow: none;
}

.results-detail, .row {
  height:100vh;
}

.pin-map {
  position: absolute;
  right: 0 !important;
  padding-right: 0 !important;
}

#map {
  min-height: 100vh;
  overflow: hidden;
}
